# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pytest_cache/

# Entornos
.venv/
venv/
ENV/
env/

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Datos de proyecto
/data/*.sqlite
/data/*.db
/data/entries.jsonl
